# üìä **Introdu√ß√£o √† Ci√™ncia de Dados**

Este notebook tem como objetivo apresentar um fluxo completo de um projeto de **Ci√™ncia de Dados**: desde a **aquisi√ß√£o de dados n√£o estruturados**, passando pela **limpeza** e **pr√©-processamento**, at√© as **an√°lises explorat√≥rias**.

# üß∞ **Importa√ß√£o de Bibliotecas**

Abaixo est√£o as bibliotecas essenciais utilizadas neste projeto, com seus respectivos links para documenta√ß√£o oficial:

- üì¶ [**Pandas**](https://pandas.pydata.org/): Manipula√ß√£o e an√°lise de dados estruturados.
- üìê [**NumPy**](https://numpy.org/): Suporte para arrays e opera√ß√µes matem√°ticas de alto desempenho.
- üìä [**Matplotlib**](https://matplotlib.org/): Biblioteca para visualiza√ß√£o de dados por meio de gr√°ficos est√°ticos.
- ‚ôã [**Seaborn**](https://seaborn.pydata.org/): Interface de alto n√≠vel para visualiza√ß√µes estat√≠sticas mais sofisticadas.

```python
# üì• Importa√ß√£o das bibliotecas
import pandas as pd        
import numpy as np         
import matplotlib.pyplot as plt 
import seaborn as sns      

# üé® Configura√ß√µes de estilo para os gr√°ficos
sns.set_style('whitegrid')              # Define o estilo dos gr√°ficos
plt.rcParams['figure.figsize'] = (10, 6)  # Define o tamanho padr√£o das figuras

In [1]:
# üì• Importa√ß√£o das bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# üé® Configura√ß√µes de estilo para os gr√°ficos
sns.set_style('whitegrid')
plt.rcParams['figure.figsize'] = (10, 6)

ModuleNotFoundError: No module named 'seaborn'

2. Aquisi√ß√£o do Dataset# üì• **Aquisi√ß√£o do Dataset**

Para este exerc√≠cio, utilizaremos o **Titanic Dataset**, dispon√≠vel publicamente, que cont√©m informa√ß√µes detalhadas sobre os passageiros do navio **Titanic**.

Este conjunto de dados inclui:
- Informa√ß√µes demogr√°ficas e socioecon√¥micas dos passageiros
- Dados sobre sobreviv√™ncia
- Vari√°veis categ√≥ricas e num√©ricas
- ‚ùóÔ∏è **Valores faltantes** e **colunas que requerem tratamento**

üîó Voc√™ pode acessar o dataset original aqui:  
[üìÑ Titanic Dataset ‚Äì Kaggle](https://www.kaggle.com/c/titanic/data)


  Para este exerc√≠cio, utilizaremos o Titanic Dataset, dispon√≠vel publicamente, que cont√©m informa√ß√µes sobre passageiros do navio Titanic. O arquivo possui valores faltantes e colunas que requerem tratamento.

In [ ]:
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'

df = pd.read_csv(url)

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# üîç **3. Explora√ß√£o Inicial dos Dados**

Antes de iniciar qualquer modelagem ou tratamento, √© fundamental **entender o conjunto de dados dispon√≠vel**. Essa etapa √© conhecida como **an√°lise explorat√≥ria dos dados**

Durante essa fase, buscamos responder perguntas como:

- Quais tipos de vari√°veis est√£o presentes?
- Existem valores faltantes ou inconsistentes?
- Qual a distribui√ß√£o dos dados?
- H√° padr√µes ou comportamentos interessantes?
- Que colunas aparentam ser mais relevantes ou problem√°ticas?
---

‚ùì **Quest√£o** **3.1**
Explore o DataFrame da maneira que achar mais adequada.

‚úçÔ∏è **Dica:** registre suas observa√ß√µes e justificativas com coment√°rios no c√≥digo. Isso √© uma boa pr√°tica em projetos reais.

# üßπ **4. Limpeza de Dados**

Ap√≥s entender melhor os dados na etapa de explora√ß√£o, √© hora de prepar√°-los para an√°lises mais profundas. Essa etapa √© chamada de **limpeza de dados**.

O objetivo aqui √© **remover ru√≠dos**, **corrigir inconsist√™ncias** e **transformar os dados brutos em uma vers√£o mais utiliz√°vel**.

Durante esse processo, normalmente s√£o aplicadas t√©cnicas como:

- ‚úÇÔ∏è **Remo√ß√£o de colunas irrelevantes**
- ‚ùì **Tratamento de valores ausentes**
- üîÑ **Convers√£o de vari√°veis categ√≥ricas em num√©ricas**

---

üß† **Agora √© com voc√™!**  
Quest√£o 4.1
Com base na sua an√°lise anterior, realize a limpeza do dataset conforme seu julgamento.

# üìà **5. An√°lise Explorat√≥ria de Dados (EDA)**

A **An√°lise Explorat√≥ria de Dados (EDA)** √© uma etapa fundamental para entender **tend√™ncias**, **padr√µes**, **correla√ß√µes** e **poss√≠veis outliers** dentro do dataset.

Atrav√©s de **visualiza√ß√µes gr√°ficas** e **estat√≠sticas descritivas**, conseguimos:

- Identificar rela√ß√µes entre vari√°veis
- Detectar desequil√≠brios nos dados (ex: classes desbalanceadas)
- Observar distribui√ß√µes e comportamentos fora do esperado
- Explorar poss√≠veis vari√°veis preditivas

---

üéØ **Quest√£o 5.1**  
Utilize diferentes tipos de gr√°ficos para visualizar melhor as caracter√≠sticas do seu dataset. Aqui est√£o algumas sugest√µes que voc√™ pode considerar:

- üìä **Histogramas**: para ver a distribui√ß√£o de vari√°veis num√©ricas como `Age` ou `Fare`
- üßÆ **Gr√°ficos de contagem (countplot)**: √∫teis para vari√°veis categ√≥ricas como `Sex`, `Embarked` ou `Pclass`
- üß© **Gr√°ficos de dispers√£o (scatterplot)**: para relacionar duas vari√°veis num√©ricas
- üßº **Boxplots**: ajudam a identificar outliers
- üîó **Mapas de calor (heatmap)**: √∫teis para visualizar correla√ß√µes entre vari√°veis num√©ricas
---

**Exemplo simples**
: Gr√°fico com a distribui√ß√£o entre homens e mulheres no navio

üí° Dica: Use `seaborn` e `matplotlib` para gerar gr√°ficos informativos e esteticamente agrad√°veis.

‚úçÔ∏è **Explique com coment√°rios** as ideias que voc√™ teve com base nos gr√°ficos gerados.



# üé® **Bibliotecas de Visualiza√ß√£o**

Para a an√°lise gr√°fica dos dados, utilizaremos duas bibliotecas muito populares no ecossistema Python:

- üìä [**Matplotlib**](https://matplotlib.org/stable/contents.html):  

- ‚ôë [**Seaborn**](https://seaborn.pydata.org/):

# üéØ **Desafios de Programa√ß√£o Propostos**

Aqui est√£o alguns desafios para voc√™ praticar suas habilidades em an√°lise de dados com o dataset Titanic.

**Voc√™ ser√° incentivado a explorar e criar diferentes features a partir dos dados originais. Reflita sobre o significado e o peso dessas transforma√ß√µes, considerando como elas podem influenciar suas an√°lises e interpreta√ß√µes.**

---

### üß© Combina√ß√£o e Transforma√ß√£o de Vari√°veis

Pense em como combinar ou transformar as informa√ß√µes dispon√≠veis para criar novas vari√°veis que possam revelar padr√µes interessantes nos dados.

---

### üìä An√°lise por Agrupamentos

Explore agrupamentos que fa√ßam sentido dentro do contexto do dataset e avalie estat√≠sticas relevantes para esses grupos.

---

### üë• Segmenta√ß√µes com M√∫ltiplas Dimens√µes

Considere m√∫ltiplas dimens√µes para segmentar os dados e observe como diferentes caracter√≠sticas variam entre esses segmentos.

---

### üîé Identifica√ß√£o de Outliers

Identifique poss√≠veis valores at√≠picos em vari√°veis num√©ricas e reflita sobre como eles podem afetar suas an√°lises.

---

### üö∂ Cria√ß√£o de Indicadores Personalizados

Crie indicadores que ajudem a classificar os passageiros segundo aspectos relevantes da viagem ou perfil pessoal.

---

### ‚öñÔ∏è Compara√ß√µes com Novas Features

Utilize as vari√°veis que criou para comparar grupos distintos e analisar diferen√ßas importantes, extraindo insights significativos.

---

Boa pr√°tica! üöÄ  
Comente seu c√≥digo, explique suas decis√µes e reflita sempre sobre o impacto das features que voc√™ criou no entendimento dos dados.